<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Datepicker</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/prefixfree.js"></script>
  </head>

  <body>
    <form action="#">
      <div class="input">
        <label for="start-date">Start Date</label>
        <input
          type="text"
          id="start-date"
          name="start-date"
          placeholder="DD/MM/YYYY"
        />
      </div>

      <div class="input">
        <label for="end-date">Start Date</label>
        <input
          type="text"
          id="end-date"
          name="end-date"
          placeholder="DD/MM/YYYY"
        />
      </div>

      <div>
        <div class="datepicker">
          <div class="datepicker__buttons">
            <button class="datepicker__previous">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <polygon
                  points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9"
                />
              </svg>
            </button>
            <button class="datepicker__next">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <polygon
                  points="16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9"
                />
              </svg>
            </button>
          </div>

          <!-- Do we need 3 months? or 4?  -->
          <!-- Okay to build on the fly? -->
          <!-- Change months to display. Begin with 1 -->
          <div class="datepicker__calendar"></div>
        </div>
      </div>
    </form>

    <script src="js/main3.js"></script>
  </body>
</html>
