html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 125%;
  line-height: 1.4;
  font-weight: 400;
  color: #333;
}

body {
  min-height: 100vh;
  background: hsl(154, 62%, 44%);
}

h1 {
  font-weight: 500;
}

main {
  padding: 2em;
  background-color: #fff;
  border: 3px solid black;
  max-width: max-content;
  margin: 3em auto 0 auto;
}

form {
  margin-top: 1em;
}

.input {
  display: inline-block;
}

.input label {
  display: block;
}

.input label + input {
  margin-top: 0.125em;
}

input {
  padding: 0.25em 0.5em;
}

/* Datepicker */
.datepicker {
  --horizontal-padding: 1.5em;
  --border-size: 1px;
  position: relative;
  max-width: max-content;
  margin-top: 1em;
  padding: var(--horizontal-padding);
  border: var(--border-size) solid #aaa;
  border-radius: 8px;
  background: white;
}

/* Previous & next buttons */
.datepicker .datepicker__previous,
.datepicker .datepicker__next {
  position: absolute;
  padding: 0;
  border: 0;
  color: hsl(0, 0%, 20%);
}

.datepicker__previous svg,
.datepicker__next svg {
  height: auto;
  width: 1.5em;
}

.datepicker__next {
  right: calc(var(--horizontal-padding) + var(--border-size));
}

/* Calendar */
.datepicker__monthIndicator {
  text-align: center;
  font-weight: 500;
}

.datepicker__dayOfWeek,
.datepicker__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}

.datepicker__dayOfWeek {
  margin-top: calc(1 / 0.75 * 1em);
  font-size: 0.75em;
  color: gray;
}

.datepicker__dayOfWeek > * {
  text-align: center;
}

/* Dates */
.datepicker__dates {
  margin-top: 0.5em;
}

/* Positioning the dates */
.datepicker__dates button:first-child {
  grid-column: var(--firstDayOfMonth);
}

.datepicker__dates button {
  position: relative;
  border: 0;
  padding: 0.25em 0.5em;
  border-radius: 50%;
}

.datepicker__dates button[data-today] {
  color: rgb(39, 182, 168);
}

.datepicker__dates button:hover,
.datepicker__dates button:focus {
  outline: none;
  background-color: #dedede;
}

.datepicker__dates button:active,
.datepicker__dates button.is-selected {
  background-color: hsl(174, 89%, 59%);
  color: hsl(0, 0%, 20%);
}
