// Your SCSS Styles

html {
  font-size: 18px;
  @media screen and (min-width:900px) {
    font-size: 20px;
  }
}

.l-wrap {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

h1 {
  font-size: 3rem;
}