<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Datepicker</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/prefixfree.js"></script>
  </head>

  <body>
    <main>
      <h1>Datepicker</h1>
      <p>Select the field to see the datepicker in action.</p>

      <form action="#" autocomplete="off">
        <div class="input">
          <label for="start-date">Select Date:</label>
          <input
            type="text"
            id="start-date"
            name="start-date"
            placeholder="DD/MM/YYYY"
          />
        </div>

        <div>
          <div class="datepicker">
            <div class="datepicker__buttons">
              <button class="datepicker__previous">
                <svg viewBox="0 0 20 20">
                  <path fill="currentColor" d="M7.05 9.293L6.343 10 12 15.657l1.414-1.414L9.172 10l4.242-4.243L12 4.343z" /></svg>
                </svg>
              </button>
              <button class="datepicker__next">
                <svg viewBox="0 0 20 20">
                  <path fill="currentColor" d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
                </svg>
              </button>
            </div>

            <div class="datepicker__calendar">
              <div class="datepicker__monthIndicator">
                <time datetime="2019-02"> February 2019 </time>
              </div>
              <div class="datepicker__dayOfWeek">
                <div>Su</div>
                <div>Mo</div>
                <div>Tu</div>
                <div>We</div>
                <div>Th</div>
                <div>Fr</div>
                <div>Sa</div>
              </div>
              <div class="datepicker__dates">
                <button>
                  <time datetime="2019-02-01">1</time>
                </button>
                <button>
                  <time datetime="2019-02-02">2</time>
                </button>
                <button>
                  <time datetime="2019-02-03">3</time>
                </button>
                <button>
                  <time datetime="2019-02-04">4</time>
                </button>
                <button>
                  <time datetime="2019-02-05">5</time>
                </button>
                <button>
                  <time datetime="2019-02-06">6</time>
                </button>
                <button>
                  <time datetime="2019-02-07">7</time>
                </button>
                <button>
                  <time datetime="2019-02-08">8</time>
                </button>
                <button>
                  <time datetime="2019-02-09">9</time>
                </button>
                <button>
                  <time datetime="2019-02-10">10</time>
                </button>
                <button>
                  <time datetime="2019-02-11">11</time>
                </button>
                <button>
                  <time datetime="2019-02-12">12</time>
                </button>
                <button>
                  <time datetime="2019-02-13">13</time>
                </button>
                <button>
                  <time datetime="2019-02-14">14</time>
                </button>
                <button>
                  <time datetime="2019-02-15">15</time>
                </button>
                <button>
                  <time datetime="2019-02-16">16</time>
                </button>
                <button>
                  <time datetime="2019-02-17">17</time>
                </button>
                <button>
                  <time datetime="2019-02-18">18</time>
                </button>
                <button>
                  <time datetime="2019-02-19">19</time>
                </button>
                <button>
                  <time datetime="2019-02-20">20</time>
                </button>
                <button>
                  <time datetime="2019-02-21">21</time>
                </button>
                <button>
                  <time datetime="2019-02-22">22</time>
                </button>
                <button>
                  <time datetime="2019-02-23">23</time>
                </button>
                <button>
                  <time datetime="2019-02-24">24</time>
                </button>
                <button>
                  <time datetime="2019-02-25">25</time>
                </button>
                <button>
                  <time datetime="2019-02-26">26</time>
                </button>
                <button>
                  <time datetime="2019-02-27">27</time>
                </button>
                <button>
                  <time datetime="2019-02-28">28</time>
                </button>



























              </div>
            </div>
          </div>
        </div>
      </form>
    </main>

    <script src="js/main.js"></script>
  </body>
</html>
