<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>task List</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/reset.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <script src="js/prefixfree.js"></script>
</head>

<body>
  <svg style="display: none">
    <symbol id="check" viewBox="0 0 20 15">
      <title>Done</title>
      <path d="M0 8l2-2 5 5L18 0l2 2L7 15z" fill="currentColor" fill-rule="nonzero" />
    </symbol>

    <symbol id="trash" viewBox="0 0 16 20">
      <title>Trash</title>
      <path d="M4 2l2-2h4l2 2h4v2H0V2h4zM1 6h14l-1 14H2L1 6zm5 2v10h1V8H6zm3 0v10h1V8H9z" fill="currentColor" fill-rule="nonzero" />
    </symbol>
  </svg>

  <div class="tasklist">
    <!-- Create your tasklist here -->
  </div>

  <script src="js/main.js"></script>
</body>

</html>