<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dota App</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/prefixfree.js"></script>
</head>

<body>

  <svg style="display: none;">
    <symbol id="chevron-down" viewBox="0 0 12 8">
      <title> Chevron Down </title>
      <path d="M5.293 6.95L6 7.657 11.657 2 10.243.586 6 4.828 1.757.586.343 2z" fill="currentColor" fill-rule="nonzero" />
    </symbol>
    <symbol id="checkmark" viewBox="0 0 20 15">
      <title> Checkmark </title>
      <path d="M0 8l2-2 5 5L18 0l2 2L7 15z" fill="#bc4736" fill-rule="nonzero" />
    </symbol>

  </svg>

  <header>
    <img src="images/logo.png" alt="Dota 2 Logo">
  </header>
  <main>

    <h1>List of Heroes</h1>

    <div class="filters">
      <button class="filter" data-placement="bottom" data-target="primary-attribute">
        <span>Primary Attribute</span>
        <svg viewbox="0 0 12 8">
          <use xlink:href="#chevron-down"></use>
        </svg>
      </button>

      <button class="filter" data-placement="bottom" data-target="attack-type">
        <span>Attack Type</span>
        <svg viewbox="0 0 12 8">
          <use xlink:href="#chevron-down"></use>
        </svg>
      </button>

      <button class="filter" data-placement="bottom" data-target="roles">
        <span>Roles</span>
        <svg viewbox="0 0 12 8">
          <use xlink:href="#chevron-down"></use>
        </svg>
      </button>

      <div class="popover" id="primary-attribute" data-placement="bottom">
        <div class="filter__option">
          <input type="checkbox" id="str">
          <label for="str">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Strength</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="agi">
          <label for="agi">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Agility</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="int">
          <label for="int">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Intelligence</span>
          </label>
        </div>
      </div>

      <div class="popover" id="attack-type" data-placement="bottom">
        <div class="filter__option">
          <input type="checkbox" id="melee">
          <label for="melee">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Melee</span>
          </label>
        </div>
        <div class="filter__option">
          <input type="checkbox" id="ranged">
          <label for="ranged">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Ranged</span>
          </label>
        </div>
      </div>

      <div class="popover" id="roles" data-placement="bottom">
        <div class="filter__option">
          <input type="checkbox" id="carry">
          <label for="carry">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Carry</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="disabler">
          <label for="disabler">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Disabler</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="durable">
          <label for="durable">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Durable</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="escape">
          <label for="escape">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Escape</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="initiator">
          <label for="initiator">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Initiator</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="jungler">
          <label for="jungler">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Jungler</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="nuker">
          <label for="nuker">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Nuker</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="pusher">
          <label for="pusher">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Pusher</span>
          </label>
        </div>

        <div class="filter__option">
          <input type="checkbox" id="support">
          <label for="support">
            <svg viewbox="0 0 20 15">
              <use xlink:href="#checkmark"></use>
            </svg>
            <span>Support</span>
          </label>
        </div>
      </div>
    </div>

    <ul class="heroes"></ul>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.7/purify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/zl-fetch@2.1.5"></script>
  <script src="js/main.js"></script>
</body>

</html>