/**
 * base styles and typography
 * ---------------
 */

:root {
  --bgc: #196080;
  --accent: #2eb5f9;
  --tint: #e6f7ff;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 125%;
  line-height: 1.4;
}

body {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: var(--bgc);
  color: white;
}

.autocomplete {
  max-width: 23em;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  color: var(--blue);
}

h1 + p {
  margin-top: 1rem;
  color: var(--blue);
}

form {
  margin-top: 1rem;
}

label {
  display: block;
  color: var(--blue);
  font-weight: 500;
}

.input {
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
}

/* Input */
input {
  display: block;
  padding: 0.75em 0.75em;
  background-color: var(--tint);
}

input.is-filled {
  background-color: white;
}

/* Search Icon */
.search-icon {
  padding: 0.5em;
  color: #757575;
  background-color: #b3c4cc;
  display: flex;
  align-items: center;
  padding: 0 0.6em;
  color: white;
}

input.is-filled + .search-icon {
  background-color: var(--accent);
}

.search-icon svg {
  display: block;
  width: 1.3em;
  height: auto;
  fill: currentColor;
}

/* Dropdown */
.dropdown {
  display: none;
  background-color: white;
  color: black;
  border-top: 1px solid #b3c4cc;
  position: absolute;
  left: 0;
  right: 0;
  grid-row: 2;
  margin-right: 2.5em;
}

input.is-filled ~ .dropdown {
  display: block;
}

.dropdown li {
  font-weight: 400;
  padding: 0.25em 0.75em;
  border-left: 0.25em solid transparent;
  overflow: hidden;
}

.dropdown li:hover {
  background-color: var(--tint);
  border-color: var(--accent);
}
