<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Carousel</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/prefixfree.js"></script>
</head>

<body>

  <section class="carousel">
    <button class="carousel__button jsPrev is-hidden">
      <svg viewBox="0 0 54 69.007">
        <use xlink:href="images/sprite.svg#left" />
      </svg>
    </button>

    <div class="carousel__track-container">
      <ul class="carousel__track">
        <li class="carousel__slide is-selected">
          <a href="#" style="background-image: url('images/image1.jpg')"></a>
        </li>
        <li class="carousel__slide">
          <a href="#" style="background-image: url('images/image2.jpg')"></a>
        </li>
        <li class="carousel__slide">
          <a href="#" style="background-image: url('images/image3.jpg')"></a>
        </li>
      </ul>
    </div>

    <button class="carousel__button jsNext">
      <svg viewBox="0 0 54 69.007">
        <use xlink:href="images/sprite.svg#right" />
      </svg>
    </button>
  </section>

  <script src="js/main.js"></script>
</body>

</html>