<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Modal window</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/prefixfree.js"></script>
</head>

<body>
  <div class="container">
    <div>
      <button class="button">Click me!</button>
      <svg viewBox="0 0 58 66">
        <use xlink:href="images/sprite.svg#point-hand" />
      </svg>
    </div>
  </div>

  <div class="modal-container">
    <div class="modal">
      <button class="modal__close">
        <svg viewBox="0 0 18 18">
          <use xlink:href="images/sprite.svg#close" />
        </svg>
      </button>
      <div class="modal__content">
        <h2>Hello!</h2>
        <svg width="112" height="139" viewBox="0 0 112 139">
          <use xlink:href="images/sprite.svg#wave-hand" />
        </svg>
      </div>
    </div>
  </div>

  <script src="js/main.js"></script>
</body>

</html>