/**
 * base styles and typography
 * ---------------
 */

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 125%;
  line-height: 1.4;
  font-weight: 400;
  color: #333;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(135deg, rgb(18, 233, 151), rgb(7, 100, 181)); */
  background: hsl(154, 62%, 44%);
}

h1 {
  font-weight: 500;
}

main {
  padding: 2em;
  background-color: #fff;
  border: 3px solid black;
  max-width: max-content;
  margin: 3em auto 0 auto;
}

form {
  margin-top: 1em;
}

.input {
  display: inline-block;
}

.input label {
  display: block;
}

.input label + input {
  margin-top: 0.125em;
}

input {
  padding: 0.25em 0.5em;
}

/* Datepicker */
.datepicker {
  position: relative;
  max-width: max-content;
  margin-top: 1em;
  padding: 1.5em;
  background: white;
  border: 1px solid #aaa;
  border-radius: 8px;
}

/* Previous & next buttons */
.datepicker .datepicker__previous,
.datepicker .datepicker__next {
  position: absolute;
  padding: 0;
  border: 0;
  color: hsl(0, 0%, 20%);
}

.datepicker__previous svg,
.datepicker__next svg {
  height: auto;
  width: 1.5em;
}

.datepicker__next {
  right: calc(1.5em + 1px);
}

/* Picker */
.datepicker__monthIndicator {
  text-align: center;
  font-weight: 500;
}

.datepicker__dayOfWeek,
.datepicker__date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}

.datepicker__dayOfWeek {
  margin-top: calc(1 / 0.75 * 1em);
  font-size: 0.75em;
  color: gray;
}

.datepicker__dayOfWeek > * {
  text-align: center;
}

.datepicker__date-grid {
  margin-top: 0.5em;
}

.datepicker__date-grid button {
  position: relative;
  border: 0;
  padding: 0.25em 0.5em;
  /* box-shadow: 0 0 0 1px gray; */
  border-radius: 50%;
}

/* colors:
today
hover, focus, active
Color scheme:
  1. SHould be similar.
  2. Selected => Strong accent
  3. Today => Weak, but different color accent.
  4. Blackout dates => Faded text
  5. Hover / Active / Focus => Gray background
  6.
 */

.datepicker__date-grid button[data-today] {
  color: rgb(39, 182, 168);
}

.datepicker__date-grid button:hover,
.datepicker__date-grid button:focus,
.datepicker__date-grid button:active {
  outline: none;
  background-color: #dedede;
}

.datepicker__date-grid button.is-selected {
  background-color: hsl(174, 89%, 59%);
  color: hsl(0, 0%, 20%);
}

/* This is for date-range */
/* border-radius: 50% 0 0 50%; */

.datepicker__date-grid button:first-child {
  grid-column: var(--first-day, 1);
}
