<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Calculator</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/reset.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <script src="js/prefixfree.js"></script>
</head>

<body>
  <div class="container">
    <div class="grid">
      <h1 class="center-text" aria-label="popovers">
        <span>P</span><span>O</span><span>P</span><span>O</span><span>V</span><span>E</span><span>R</span><span>S</span>
      </h1>

      <button class="arrow top" data-placement="top" data-popover data-target="random-target">
        <svg viewBox="0 0 40 20">
          <path fill="currentColor" fill-rule="evenodd" d="M21.874 1.5l16.448 13.157A3 3 0 0 1 36.448 20H3.552a3 3 0 0 1-1.874-5.343L18.126 1.5a3 3 0 0 1 3.748 0z"></path>
        </svg>
      </button>
      <button class="arrow right" data-placement="right" data-popover data-target="form">
        <svg viewBox="0 0 40 20">
          <path fill="currentColor" fill-rule="evenodd" d="M21.874 1.5l16.448 13.157A3 3 0 0 1 36.448 20H3.552a3 3 0 0 1-1.874-5.343L18.126 1.5a3 3 0 0 1 3.748 0z"></path>
        </svg>
      </button>
      <button class="arrow bottom" data-placement="bottom" data-popover data-text="The quick brown fox jumps over the lazy dog">
        <svg viewBox="0 0 40 20">
          <path fill="currentColor" fill-rule="evenodd" d="M21.874 1.5l16.448 13.157A3 3 0 0 1 36.448 20H3.552a3 3 0 0 1-1.874-5.343L18.126 1.5a3 3 0 0 1 3.748 0z"></path>
        </svg>
      </button>
      <button class="arrow left" data-placement="left" data-popover data-text="The quick brown fox jumps over the lazy dog">
        <svg viewBox="0 0 40 20">
          <path fill="currentColor" fill-rule="evenodd" d="M21.874 1.5l16.448 13.157A3 3 0 0 1 36.448 20H3.552a3 3 0 0 1-1.874-5.343L18.126 1.5a3 3 0 0 1 3.748 0z"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="popover" id="random-target">
    <h2>Singapore, my country!</h2>
    <p>Singapore is a wonderful place to live in 😄</p>
  </div>

  <div class="popover form" id="form">
    <h2>Get Lollipops! 🍭 </h2>
     <div>
      <label for="name">First name</label>
      <input id="name" name="name" type="name">
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" name="email" type="email" placeholder="email@address.com">
    </div>
   
    <div>
      <button>Gimme lollipops!</button>
    </div>
  </div>

  <script src="js/main.js"></script>
</body>

</html>